name: Release

on:
  # run workflow when a pull request is merged and the Test workflow is completed
  workflow_run:
    workflows: ["Test"]
    types:
      - completed
    branches:
      - main

# allow action to create tags and pull request
permissions:
  contents: write
  pull-requests: write
  id-token: write # Required for OIDC trusted publishing

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    # only run the workflow if the Test workflow was successful
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Cache Dependencies ...
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            caravan-rs
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('caravan-rs') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          # Pin to latest confirmed working version
          version: "v0.12.1"

      - name: Install Dependencies
        run: npm install

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npm run release
          version: npm run version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
